@import url('http://fonts.cdnfonts.com/css/roboto');

:root {
    --theme-color: red;
    --theme-bg: #000;
    --text-color-primary: white;
    --text-color-secondary: #191919;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--theme-bg);
    font-family: 'Roboto', sans-serif;
    /* color: #FFFAFB; */
    color: var(--text-color-primary)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

::-webkit-scrollbar {
    width: 0px;
}

.logo {
    height: 50px;
    width: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 50px;
    background: red;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.banner_img {
    border-radius: 1rem;
}

.secondary_text {
    color: var(--text-color-secondary);
}

.card {
    cursor: pointer;
    border-top: 2px solid transparent;
    transition: 0.3s ease;
    margin: 0 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card:hover {
    border-top: 2px solid var(--theme-color);
}

.exercise-gif-card .gif-card-status {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    column-gap: 1rem;
}

.exercise-gif-card span {
    display: inline-block;
    background: var(--theme-color);
    padding: 10px;
    border-radius: 1rem;
}

.gif-pagination-active {
    background-color: var(--theme-color) !important;
}